.Nabidka {
    -fx-background-color: rgba(255,255,255, 0.7);
}
.Hover:hover{
    -fx-background-color: lightgrey;
    -fx-max-width: 400px;
    -fx-border-width: 1px;
    -fx-border-color: black;
}
#textInput{
    -fx-background-color: rgba(255,255,255, 0.7);
    -fx-max-width: 800px;

}
#textInput:hover{
    -fx-background-color: lightblue;
}
#textOutput{
    -fx-font-size: 16px;
    -fx-max-width: 800px;
    -fx-border-width: 3;
    -fx-border-color: black;
    -fx-wrap-text: true;
}
#locationName{
    -fx-background-color: rgba(255,255,255, 0.9);

    -fx-font-weight: bold;
    -fx-min-width: 820px;
    -fx-alignment: center;
    -fx-font-size: 30px;
}
#locationDescription{
    -fx-background-color: rgba(255,255,255, 0.9);
    -fx-min-width: 820px;
    -fx-alignment: center;
    -fx-font-size: 26px;
}

